*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header,
footer h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}

header {
  font-size: 1.8em;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

input {
  font-weight: 500;
}

.btn-pink {
  width: 220px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 25px;
  background: #9356dc;
  background: -moz-linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  background: -webkit-linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
}
.functioning-form__box {
  position: relative;
  width: 100%;
  height: 75px;
  text-align: left;
  margin-bottom: 25px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
}
.functioning-form__box .functioning-form__number {
  position: absolute;
  top: 24px;
  left: -14px;
  width: 25px;
  height: 25px;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}
.functioning-form__box .functioning-form__btn {
  height: 100%;
  width: 100%;
  text-align: start;
  border: none;
  border-radius: 25px;
  background-color: #f6f6f6;
}
.functioning-form__box .functioning-form__btn:hover {
  background: #f2eafb;
}
.functioning-form__box i {
  margin: 0 20px 0 33px;
}
.functioning-form__box:hover i {
  color: #9356dc;
}

header {
  height: 65px;
  padding: 0 20px;
  text-align: center;
}
header img {
  width: 160px;
  padding-top: 20px;
}

.functioning,
.restaurants-list {
  padding: 50px 20px;
}

.locate-restaurant__form {
  height: 50px;
  width: 100%;
  background: #eaeaea;
  box-shadow: inset 0px 8px 6px -6px rgba(148, 136, 136, 0.75);
  -webkit-box-shadow: 0px 8px 6px -6px rgba 148, 136, 136, 0.75 inset;
  -moz-box-shadow: 0px 8px 6px -6px rgba(148, 136, 136, 0.75) inset;
  display: flex;
  justify-content: center;
}
.locate-restaurant__form label {
  display: flex;
  align-items: center;
}
.locate-restaurant__form label input {
  height: 100%;
  width: 160px;
  border: none;
  text-align: center;
  background: #eaeaea;
  box-shadow: inset 0px 8px 6px -6px rgba(148, 136, 136, 0.75);
  -webkit-box-shadow: 0px 8px 6px -6px rgba 148, 136, 136, 0.75 inset;
  -moz-box-shadow: 0px 8px 6px -6px rgba(148, 136, 136, 0.75) inset;
}
.locate-restaurant__form label input:focus {
  background-color: rgba(236, 161, 69, 0.26);
}

.functioning-form {
  padding: 5px 0 0 10px;
}

footer {
  background-color: #353535;
  color: white;
}

.footer {
  padding: 25px;
}
.footer h2 {
  margin-bottom: 20px;
}
.footer ul li {
  margin: 10px 0;
}
.footer ul li a {
  color: white;
}
.footer ul li a:hover {
  color: #99e2d0;
}
.footer ul li a i {
  padding-right: 10px;
}
.footer ul li a i.fa-utensils {
  margin-right: 2px;
}

.locate-restaurant {
  margin-bottom: 20px;
  text-align: center;
  background-color: #f6f6f6;
}
.locate-restaurant h1 {
  padding: 20px 50px 0px;
}
.locate-restaurant p {
  margin-bottom: 30px;
}
.locate-restaurant button {
  margin-bottom: 60px;
}

.functioning h2 {
  margin-bottom: 25px;
}

.restaurants-list {
  background-color: #f6f6f6;
}
.restaurants-list h2 {
  margin-bottom: 20px;
}

.card-restaurant {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
}
.card-restaurant img {
  width: 100%;
  height: 70%;
  display: block;
  object-fit: cover;
  object-position: 0 60%;
}
.card-restaurant__info {
  height: 30%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.card-restaurant__title h3 {
  margin-bottom: 5px;
}
.card-restaurant__tag-new {
  width: 80px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  text-align: center;
  color: #008766;
  background-color: #99e2d0;
}

/*# sourceMappingURL=style.css.map */
