// bouton section .locate-restaurant
.btn-pink {
  display: block;
  width: 220px;
  height: 50px;
  margin: auto;
  color: white;
  border: none;
  border-radius: 25px;
  background: $color-primary;
  background: $color-bg-gradient;
  box-shadow: $box-shadow-darker;
  transition: all ease-in-out 350ms;
  &:hover {
    transform: scale(1.08);
    @include btn-bg-box-shadow;
  }
  &--menu {
    width: 190px;
    margin: 60px auto;
  }
}

// Bouton fonctionnement
.functioning__btn {
  display: block;
  position: relative;
  margin: 0 auto 25px;
  width: 96%;
  height: 75px;
  max-width: $max-width-tablet;
  text-align: left;
  border-radius: 25px;
  border: none;
  box-shadow: $box-shadow;
  &:hover {
    background: lighten($color-primary, 32);
    i {
      color: $color-primary;
    }
  }

  // pastille 1 - 2 - 3
  .functioning__number {
    position: absolute;
    top: 24px;
    left: -14px;
    width: 25px;
    height: 25px;
    padding: 5px 8px;
    border-radius: 50%;
    background-color: $color-primary;
    color: white;
  }

  i {
    margin: 0 15px 0 29px;
  }
}
