// animation du coeur " favoris"
.heart-box {
  position: relative;
  width: 25px;
  height: 30px;
  i {
    position: absolute;
    bottom: 15px;
    font-size: 25px;
    transition: transform ease-out 250ms;
  }
  &__full {
    transform: scale(0);
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:hover {
    .heart-box__full {
      transform: scale(1.08);
    }
  }
}
