// LOADER
@keyframes loading {
  99% {
    visibility: hidden
  }
  100% {
    visibility: hidden
  }
}

@keyframes cercle-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cercle-scaling {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.95);
  }
}

// menus des restaurants

@keyframes menu-appears {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
