.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.856);
  animation: chargement 3s forwards;

  &__ctn {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__cercle {
    height: 100%;
    width: 100%;
    border: black 5px;
    border-left-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-radius: 50%;
    animation: cercle-rotation infinite 2s alternate ease-in-out;
  }
  &__pupil {
    background: linear-gradient($color-primary, $color-secondary);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    animation: cercle-scaling 3 1.5s alternate forwards;
  }
}
