body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

// page d'accueil
header,
footer h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
}

h1,
h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

p {
  font-size: 18px;
}

input,
button {
  font-size: 15px;
  font-weight: 600;
}
.card-restaurant__tag-new {
  font-size: 15px;
  font-weight: 600;
}

// pages des menu

.menus-list {
  h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
  }
  h2 {
    font-size: 18px;
    font-weight: 300;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
}
p {
  font-size: 16px;
}
.card-menu__price {
  font-weight: 600;
}

// Toutes les pages

.btn-pink {
  // font-size: 24px;
  font-weight: 500;
}
