body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

header,
footer h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 18px;
}

h1,
h2 {
  font-size: 24px;
}
.btn-pink {
  // font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 19px;
}
p {
  font-size: 18px;
}

input,
button {
  font-size: 16px;
  font-weight: 600;
}

.card-restaurant__tag-new {
  font-size: 15px;
  font-weight: 600;
}
