body {
    font-family: 'Roboto', sans-serif;
}

header, footer h2 {
font-family: 'Shrikhand', cursive;
font-size: 18px;
}
header {
    font-size: 1.8em;
   
}
 h1 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
