// Section recherche + slogan
.locate-restaurant {
  margin-bottom: 20px;
  text-align: center;
  background-color: $color-background-light;
  h1 {
    padding: 20px 50px 0px;
  }
  p {
    margin-bottom: 30px;
  }
  button {
    margin-bottom: 60px;
  }
}

.functioning {
  h2 {
    margin-bottom: 25px;
  }
}
.restaurants-list {
  background-color: $color-background-light;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    margin-bottom: 20px;
  }
}
.card-restaurant {
  position: relative;
  width: 100%;
  height: 250px;

  border-radius: 25px;
  overflow: hidden;
  box-shadow: $box-shadow;

  img {
    width: 100%;
    height: 70%;
    display: block;
    object-fit: cover;
    object-position: 0 60%;
  }
  &__info {
    height: 30%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  &__title {
    h3 {
      margin-bottom: 5px;
    }
  }
  &__tag-new {
    width: 80px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 5px;
    text-align: center;
    color: $color-tag-new;
    background-color: $color-background-tag-new;
  }

  &__heart-icon {
    height: 100px;
    width: 100px;
  }
}
#heart {
  stroke: red;
  fill: $color-background-gradient;
  stroke-width: '55';
}
