@mixin shadowed-background {
  background: $color-background;
  box-shadow: inset 0px 8px 6px -6px rgba(148, 136, 136, 0.75);
}

// @mixin gradient-background {
//   background: $color-primary;
//   background: linear-gradient(355deg, $color-primary 0%, $color-secondary 100%);
//   $color-background-gradient
// }

@mixin gradient-background-light {
  background: lighten($color-primary, 0.5%);
  background: linear-gradient(
    355deg,
    lighten($color-primary, 5%) 0%,
    lighten($color-secondary, 5%) 100%
  );
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.6);
}
