// Variables couleurs principales
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

// Variables différents background
$color-bg: #eaeaea;
$color-bg-light: #f6f6f6;
$color-bg-dark: #353535;
$color-bg-focus: rgba(236, 161, 69, 0.26);
$color-bg-gradient: linear-gradient(
  0deg,
  $color-primary 0%,
  $color-secondary 100%
);

// variables pour box-shadow
$box-shadow: 0px 5px 9px 0px rgb(211, 211, 211);
$box-shadow-highlight: 0px 5px 9px 0px $color-tertiary;
$box-shadow-darker: 0px 5px 9px 0px rgb(196, 196, 196);

// variables restaurant nouveau
$color-tag-new: #008766;
$color-bg-tag-new: $color-tertiary;

// variable apparition info card
$anim-delay: 200ms;

// variable ajustement pour breakpoint tablette
$max-width-tablet: 520px;
