footer {
  background-color: $color-bg-dark;
  color: white;
}

.footer {
  margin: -35px auto;
  padding: 25px 25px 40px;
  h2 {
    margin-bottom: 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 5px 0;
      width: 100%;
      a {
        color: white;
        &:hover {
          color: $color-tertiary;
        }
        i {
          padding-right: 10px;
          &.fa-utensils {
            margin-right: 2px;
          }
        }
      }
    }
  }
}
