.menus-list__title {
  grid-area: tl;
}

.appetizer {
  grid-area: aptz;
}

.main-dish {
  grid-area: dish;
}

.dessert {
  grid-area: dsrt;
}

// .menus-list {
//   display: grid;
//   grid-template-columns:;
//   grid-auto-rows: ;
// }
