@media screen and (min-width: 600px) {
  .footer {
    ul {
      li {
        width: 45%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .functioning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__btn {
      width: 30%;
      i {
        margin: 0 15px 0 25px;
      }
    }
    h2 {
      width: 100%;
    }
  }

  .restaurants-list__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card-restaurant {
      width: 47%;
    }
    h2 {
      width: 100%;
    }
  }

  .footer {
    ul {
      justify-content: space-between;
      li {
        width: auto;
      }
    }
  }
}
