@media screen and (min-width: 323px) {
  .functioning__btn {
    i {
      margin: 0 20px 0 35px;
    }
  }
}
@media screen and (min-width: 600px) {
  .footer {
    ul {
      li {
        width: 45%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .restaurants-list__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card-restaurant {
      width: 47%;
    }
    h2 {
      width: 100%;
    }
  }
  // .menus-list {
  //   grid-template-columns: ;
  //   grid-template: ;
  // }

  .footer {
    ul {
      justify-content: space-between;
      li {
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 865px) {
  .functioning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__btn {
      width: 30%;
      i {
        margin: 0 10px 0 25px;
      }
    }
    h2 {
      width: 100%;
    }
  }
}
