<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Trouvez le repas parfait proche de chez vous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/x-icon" href="../images/logo/favicon16.png" />
    <title>Menu A la Française Restaurant</title>
  </head>
  <body>
    <header>
      <a href="../index.html"><i class="fa-solid fa-arrow-left fa-lg"></i></a>

      <img src="../images/logo/ohmyfood.png" alt="logo de ohmyfood" />
    </header>
    <main>
      <div class="menu-img">
        <img
          src="../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"
          alt="photo du menu de À la française " />
      </div>
      <article class="menus-list">
        <h1>À la francaise</h1>
        <div class="heart-box">
          <i class="fa-regular fa-heart heart-box__empty"></i>
          <i class="fa-solid fa-heart heart-box__full"></i>
        </div>

        <section class="card-menu">
          <h2>ENTRÉES</h2>
          <div class="card-menu__ctn">
            <div class="card-menu__info">
              <div class="card-menu__title">
                <h3>Tartare de poulpe acidulé</h3>
                <p>Aux zestes d'orange</p>
              </div>
              <div class="card-menu__box">
                <div class="card-menu__price">25€</div>
                <div class="card-menu__check">
                  <i class="fa-solid fa-check"></i>
                </div>
              </div>
            </div>
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </section>
        <section class="card-menu">
          <h2>PLATS</h2>
          <div class="card-menu__ctn">
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </section>
        <section class="card-menu">
          <h2>DESSERTS</h2>
          <div class="card-menu__ctn">
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
            <div class="card-menu__item">
              <h3></h3>
              <p></p>
            </div>
          </div>
        </section>

        <button class="btn-pink">Commander</button>
      </article>
    </main>

    <footer>
      <section class="footer">
        <h2>ohmyfood</h2>
        <ul>
          <li>
            <a href="#">
              <i class="fa-solid fa-utensils fa-xs"></i>Proposer un restaurant
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-handshake-angle fa-2xs"></i>Devenir
              partenaire
            </a>
          </li>
          <li><a href="#">Mentions légales</a></li>
          <li>
            <a
              href="mailto:contact@ohmyfood.fr?subject=Renseignement%20et%20information">
              Contact
            </a>
          </li>
        </ul>
      </section>
    </footer>

    <script
      src="https://kit.fontawesome.com/6fecdd9ab9.js"
      crossorigin="anonymous"></script>
  </body>
</html>
