<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Trouvez le repas parfait proche de chez vous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/x-icon" href="../images/logo/favicon16.png" />
    <title>Menu La note enchantee Restaurant</title>
  </head>
  <body>
    <header>
      <a href="../index.html"><i class="fa-solid fa-arrow-left fa-lg"></i></a>

      <img src="../images/logo/ohmyfood.png" alt="logo de ohmyfood" />
    </header>
    <main>
      <div class="menu-img">
        <img
          src="../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"
          alt="photo du menu de La note enchantée" />
      </div>

      <!-- article, corp de la carte -->
      <article class="menus-list">
        <section class="menus-list__title">
          <h1>La note enchantée</h1>
          <div class="heart-box">
            <i class="fa-regular fa-heart heart-box__empty"></i>
            <i class="fa-solid fa-heart heart-box__full"></i>
          </div>
        </section>

        <!-- section des plats disponible -->

        <!-- section des ENTREES -->
        <section class="card-menu">
          <h2>ENTRÉES</h2>

          <div class="card-menu__info card-menu__info--1">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Ravioles de foie gras</h3>
                <p>Accompagnés de leur crème à la truffe</p>
              </div>
              <div class="card-menu__price">25€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <div class="card-menu__info card-menu__info--2">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Caviar osciètre</h3>
                <p>Sur blini à la farine de blé noir</p>
              </div>
              <div class="card-menu__price">35€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <div class="card-menu__info card-menu__info--3">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Homard et espuma de potiron</h3>
                <p>Mariné aux zestes d'orange</p>
              </div>
              <div class="card-menu__price">20€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <div class="card-menu__info card-menu__info--3">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Foie gras de canard cuit entier</h3>
                <p>Confiture de figue et pain toasté</p>
              </div>
              <div class="card-menu__price">35€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
        </section>

        <!-- section des PLATS -->
        <section class="card-menu">
          <h2>PLATS</h2>

          <div class="card-menu__info card-menu__info--4">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Noix de coquilles Saint-Jacques</h3>
                <p>Sur lit de purée de céleri-rave</p>
              </div>
              <div class="card-menu__price">40€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <div class="card-menu__info card-menu__info--5">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Langoustine poêlée</h3>
                <p>Purée de patate douce</p>
              </div>
              <div class="card-menu__price">35€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <div class="card-menu__info card-menu__info--6">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Mijoté de queue de boeuf</h3>
                <p>Et riz sauvage aux zestes de citron</p>
              </div>
              <div class="card-menu__price">44€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
        </section>

        <!-- section des DESSERTS -->
        <section class="card-menu">
          <h2>DESSERTS</h2>

          <div class="card-menu__info card-menu__info--7">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Macaron noisette et chocolat</h3>
                <p>Glace au caramel brun et sel de Guérande</p>
              </div>
              <div class="card-menu__price">18€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <div class="card-menu__info card-menu__info--8">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Baba au rhum revisité</h3>
                <p>Avec son coulis de citron</p>
              </div>
              <div class="card-menu__price">22€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
          <div class="card-menu__info card-menu__info--9">
            <div class="card-menu__title-and-price">
              <div class="card-menu__title">
                <h3>Tarte au citron meringuée</h3>
                <p>Déstructurée</p>
              </div>
              <div class="card-menu__price">23€</div>
            </div>

            <div class="card-menu__check">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
        </section>

        <button class="btn-main btn-main--menu">Commander</button>
      </article>
    </main>

    <footer>
      <section class="footer footer--menu">
        <h2>ohmyfood</h2>
        <ul>
          <li>
            <a href="#">
              <i class="fa-solid fa-utensils fa-xs"></i>Proposer un restaurant
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-handshake-angle fa-2xs"></i>Devenir
              partenaire
            </a>
          </li>
          <li><a href="#">Mentions légales</a></li>
          <li>
            <a
              href="mailto:contact@ohmyfood.fr?subject=Renseignement%20et%20information">
              Contact
            </a>
          </li>
        </ul>
      </section>
    </footer>
    <script
      src="https://kit.fontawesome.com/6fecdd9ab9.js"
      crossorigin="anonymous"></script>
  </body>
</html>
