<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Trouvez le repas parfait proche de chez vous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" type="image/x-icon" href="../images/logo/favicon16.png" />
    <title>Menu Le delice des sens Restaurant</title>
  </head>
  <body>
    <header>
      <img src="../images/logo/ohmyfood.png" alt="logo de ohmyfood" />
    </header>
    <main></main>
    <footer>
      <section class="footer">
        <h2>ohmyfood</h2>
        <ul>
          <li>
            <a href="#">
              <i class="fa-solid fa-utensils fa-xs"></i>Proposer un restaurant
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-handshake-angle fa-2xs"></i>Devenir
              partenaire
            </a>
          </li>
          <li><a href="#">Mentions légales</a></li>
          <li>
            <a
              href="mailto:contact@ohmyfood.fr?subject=Renseignement%20et%20information">
              Contact
            </a>
          </li>
        </ul>
      </section>
    </footer>
    <!-- fleche pour page secondaires
  <i class="fa-solid fa-arrow-left"></i>  -->
    <i class="fa-regular fa-heart"></i>
    <script
      src="https://kit.fontawesome.com/6fecdd9ab9.js"
      crossorigin="anonymous"></script>
  </body>
</html>
